In [1]:
import pandas as pd
import numpy as np

# Paramètres réalistes pour Lille
np.random.seed(42)
n = 1000

# Générer des surfaces entre 20 m² et 120 m²
surface = np.random.uniform(20, 120, n).round(1)

# Prix au m² estimé pour Lille (~2800 à 3500 €/m²)
prix_m2 = np.random.normal(loc=3100, scale=200, size=n)
prix_m2 = np.clip(prix_m2, 2700, 3600)

# Calcul du prix total
prix_total = (surface * prix_m2).round(-2)

# Créer le DataFrame
df = pd.DataFrame({
    "surface_m2": surface,
    "prix_euros": prix_total.astype(int)
})

# Sauvegarde locale (optionnel)
df.to_csv("lille_immobilier.csv", index=False)

# Aperçu
df.head()

   surface_m2  prix_euros
0        57.5      180300
1       115.1      326100
2        93.2      296000
3        79.9      257400
4        35.6      114300